[Desktop Entry]
Encoding=UTF-8
Name=Link to apkparser/ApkParser
Type=Link
URL=https://github.com/Shaltz/appListClassified/tree/master/lib/apkparser/ApkParser
Icon=text-html
